[submodule "src/power"]
	path = src/power
	url = https://github.com/rodlie/powerkit
[submodule "src/fm"]
	path = src/lib/fm
	url = https://github.com/rodlie/qtfm
[submodule "src/hotkey"]
	path = src/hotkey
	url = https://github.com/rodlie/QHotkey
